@import 'src/variables';

.menu-bar, .sub-menu, .menu-group {
  ul, li {
    list-style: none;
    padding: 0;
    box-sizing: border-box;
  }
}

.menu-bar {
  color: $white;
  font-size: 1.125rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: $ncc-grey-dark;
  overflow-y: auto;

  div, a {
    margin: 0.675rem 2rem 0.675rem 1.5rem;
  }

  & > * {
    border-bottom: 1px solid $default-grey-dark;
  }
}

.sub-menu {
  &.is-selected {
    background: $default-grey-dark;
  }

  ul {
    margin-bottom: 1.25rem;
  }
}

.menu-element,
.sub-menu > .title {
  cursor: pointer;

  a, a:visited {
    display: block;
    color: $white;
    text-decoration: none;
  }
}

.menu-group {
  font-size: 0.825rem;

  .title {
    padding: 0.25rem 0;
    border-bottom: 1px solid $ncc-grey-dark;

    &.lg {
      font-size: 1rem;
      font-weight: 900;
    }
  }

  .menu-element {
    font-weight: 400;
  }
}

.menu-element {
  &.is-selected {
    cursor: default;
    font-weight: 900;
  }
}
