@import 'src/variables';

.menu-bar, .sub-menu, .menu-group {
  ul, li {
    list-style: none;
    padding: 0;
    box-sizing: border-box;
  }
}

.menu-bar {
  color: $white;
  font-size: 1.125rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: $ncc-grey-dark;
  user-select: none;
  overflow-y: auto;

  a {
    padding: 0.275rem 1.5rem;
  }

  & > * {
    border-bottom: 1px solid $default-grey-dark;
  }

  .dark-mode & {
    color: $font-color;
  }
}

.sub-menu {
  &.is-selected {
    background: $default-grey-dark;
  }

  ul {
    margin-bottom: 1.25rem;
  }

  & > .title {
    padding: 0.675rem 1.5rem;
  }
}

.menu-element,
.sub-menu > .title {
  cursor: pointer;

  a, a:visited {
    display: block;
    color: $white;

    &:hover {
      text-decoration: none;
    }

    .dark-mode & {
      color: $font-color;
    }
  }
}

.menu-group {
  font-size: 0.9rem;

  .title {
    width: calc(100% - 3.5rem);
    padding: 0.275rem 0;
    margin: 0.275rem 1.5rem;
    border-bottom: 1px solid $ncc-grey-dark;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    .MuiChip-root {
      font-size: 0.2rem;
      height: 18px;
      margin-left: 0.4rem;
    }
  }

  .menu-element {
    font-weight: 400;
  }
}

.menu-element {
  a {
    display: flex;
    align-items: center;
  }

  svg {
    margin-right: 0.5rem;
  }
  
  &.is-selected {
    font-weight: 700;
    cursor: default;

    a {
      background-color: rgba(0,0,0,0.5);
    }
  }

  &.disabled {
    opacity: 0.6;
    
    a {
      cursor: not-allowed;
    }
  }
}