@import 'src/variables';

.tabs-menu {
  margin-bottom: 2rem;

  .tab {
    color: $default-grey;
    font-size: 1.75rem;
    font-weight: 700;
    margin-right: 1.5rem;

    &.is-selected {
      color: $font_color;
      padding-bottom: 0.175rem;
      border-bottom: 3px solid;
    }
    
    &:not(.is-selected):hover {
      cursor: pointer;
    }
  }
}
