@import 'src/variables';

.download-exceptions {
  margin-top: auto;
  margin-bottom: 0.5rem;
  padding: 1rem;
  border: none;

  button {
    border: 2px solid $white;
    border-radius: $border-radius;
    padding: 0.375rem 0.5rem;

    span {
      color: $white;
      font-size: 0.75rem;
      font-weight: 700;
    }

    &.Mui-disabled {
      border: 1px solid $default-grey-dark;
      pointer-events: initial;
      cursor: not-allowed;

      span {
        color: $default-grey-dark;
        font-weight: initial;
      }
    }
  }
}
