@import 'src/variables';

.informations-wrapper {
  background: $background-color;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 1rem;
  max-width: 20rem;
  min-width: 13rem;
  word-break: break-word;

  h4 {
    font-size: 1.125rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;

    &.title {
      margin-top: 0;
    }
  }

  .detailed-value {
    margin-bottom: 0.25rem;
  }
}
