[report]
include =   ScoutSuite/*.py
            ScoutSuite/core/*.py
            ScoutSuite/output/*.py
            ScoutSuite/providers/aws/*.py
            ScoutSuite/providers/aws/facade/*.py
            ScoutSuite/providers/aws/resources/*.py
            ScoutSuite/providers/azure/*.py
            ScoutSuite/providers/azure/facade/*.py
            ScoutSuite/providers/azure/resources/*.py
            ScoutSuite/providers/gcp/*.py
            ScoutSuite/providers/gcp/facade/*.py
            ScoutSuite/providers/gcp/resources/*.py
