# virtualenv 
env/
.venv/
ScoutSuite/pyvenv.cfg

# Compiled files
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
.eggs
.cache/
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# In case people do a `git add .` ...
*.csv

# Data folder and files
scoutsuite-report*
scoutsuite_reports*
inc-scoutsuite-run*
report-*
*.db
cloufront_config.json
cloudfront_config.template.json
tools/automation/config*

# IntelliJ files
.idea/
*.iml

# Vs Code
.vscode/
.vs
# Mac cruft
.DS_Store

# Emacs backups
*~

# Private files
*private.*
# Private folders
/private*/
/**/private*/

#Profiling output
*.prof

!docker/bin


ScoutSuite/Scripts/
temp.txt