include LICENSE
include README.md
include requirements.txt
recursive-include AWSScout2/data *
recursive-include AWSScout2/configs/data *
recursive-include AWSScout2/output/data *
recursive-include AWSScout2/rules/data *

