include LICENSE
include README.md
include requirements.txt
recursive-include ScoutSuite/data *
recursive-include ScoutSuite/output/data *
recursive-include ScoutSuite/providers/aws *
recursive-include ScoutSuite/providers/aws/rules *
recursive-include ScoutSuite/providers/azure *
recursive-include ScoutSuite/providers/azure/rules *
recursive-include ScoutSuite/providers/gcp *
recursive-include ScoutSuite/providers/gcp/rules *
recursive-include ScoutSuite/providers/aliyun *
recursive-include ScoutSuite/providers/aliyun/rules *
recursive-include ScoutSuite/providers/oci *
recursive-include ScoutSuite/providers/oci/rules *
