include LICENSE
include README.md
include requirements.txt
recursive-include ScoutSuite/data *
recursive-include ScoutSuite/configs/data *
recursive-include ScoutSuite/output/data *
recursive-include ScoutSuite/rules/data *

