# Core
python-dateutil>=2.2
netaddr>=0.7.11

# AWS Provider
boto3>=1.9.60

# Opinel
requests>=2.4.0,<3.0.0
iampoliciesgonewild>=1.0.6.2

# GCP Provider
grpcio>=1.18.0
## Cloud Libraries
google-cloud-container>=0.2.1
google-cloud-core>=0.29.1
google-cloud-iam>=0.1.0
google-cloud-logging>=1.10.0
google-cloud-monitoring>=0.31.1
google-cloud-resource-manager>=0.28.3
google-cloud-storage>=1.13.2
## API Client Libraries
google-api-python-client>=1.7.8
oauth2client>=4.1.3

# Azure Provider
azure-mgmt-storage>=3.0.0
azure-mgmt-monitor>=0.5.2
azure-mgmt-sql>=0.11.0
azure-mgmt-security>=0.1.0
azure-mgmt-keyvault>=1.1.0
azure-mgmt-network>=2.5.1
azure-mgmt-redis>=6.0.0
azure-mgmt-web>=0.41.0
azure-cli-core>=2.0.55
pyyaml>=4.2b1
