.policy {
  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  .policy-name {
    font-size: 0.875rem;
  }

  .inner-code,
  code {
    font-size: 0.75rem;
  }

  code {
    display: block;
    padding: 1rem;
    margin-top: -1rem;

    .inner-code {
      margin-left: 1rem;
    }
  }
}
