@import 'src/variables.scss';

.severity-label {
  font-weight: 600;

  &.high {
    color: $ncc-red;
  }

  &.medium {
    color: $scoutsuite-orange;
  }

  &.success {
    color: $scoutsuite-green;
  }

}