@import 'src/variables';

.service-status {
  font-weight: 600;
  margin-left: 1rem;

  svg {
    margin-right: 0.5rem;
  }

  &.good {
    color: $success-color;
  }

  &.critical {
    color: $ncc-red;
  }

  &.high {
    color: $issue-color;
  }

  &.medium {
    color: $warning-color;
  }

  &.low {
    color: $scoutsuite-blue;
  }
}
