@import 'src/variables';

.service-status {
  font-weight: 600;
  margin-left: 1rem;

  svg {
    margin-right: 0.5rem;
  }

  &.good {
    color: $good-color;
  }

  &.critical {
    color: $critical-color;
  }

  &.high {
    color: $high-color;
  }

  &.medium {
    color: $medium-color;
  }

  &.low {
    color: $low-color;
  }
}
