@import 'src/variables';

.resources-details {
  .download-btns, .services {
    position: relative;
    top: -4.5rem;
  }

  .download-btns {
    display: flex;
    justify-content: flex-end;
    pointer-events: none;
    margin-bottom: 2rem;
    
    button {
      pointer-events: auto;
      margin-right: 0.5rem;
    }
  }

  .services {
    .details-card {
      width: calc(100% - 2rem);
      border-collapse: collapse;
      font-size: 1rem;
      background-color: $white;
      border-radius: $border-radius;
      margin-bottom: 1.5rem;
  
      .no-link {
        color: $text-muted;
        cursor: not-allowed;
      }
  
      th, td {
        text-align: left;
        padding: 0.5rem 1.5rem;
        border-bottom: 1px solid $default-grey-subtle;
  
        &:not(:last-of-type) {
          border-right: 1px solid $default-grey-subtle;
        }
      }
  
      tr:last-of-type {
        td {
          border-bottom: none;
        }
      }
  
      th:first-of-type {
        width: 30%;
      }
    }
  }
}
