@import 'src/variables';

.resources-details {
  div {
    h3 {
      font-size: 1.375rem;
    }
  }

  .details-card {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    background-color: white;
    border-radius: $border-radius;
    margin-bottom: 2rem;

    .no-link {
      color: $text-muted;
      cursor: not-allowed;
    }

    th, td {
      text-align: left;
      padding: 0.5rem 1.5rem;
      border-bottom: 1px solid $default-grey-subtle;

      &:not(:last-of-type) {
        border-right: 1px solid $default-grey-subtle;
      }
    }

    tr:last-of-type {
      td {
        border-bottom: none;
      }
    }

    th:first-of-type {
      width: 30%;
    }
  }
}
