@import 'src/variables';

.partial-value {
  .inline {
    display: inline;
  }

  .issue {
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .critical {
    color: $critical-color;
  }

  .high, .danger {
    color: $high-color;
  }

  .medium, .warning {
    color: $medium-color;
  }

  .low {
    color: $low-color;
  }

  .exception-btn {
    font-size: 0.4rem;
  }
}
