@import 'src/variables';

.partial-value {
  .critical {
    color: $critical-color;
    font-weight: 700;
  }

  .high, .danger {
    color: $high-color;
    font-weight: 700;
  }

  .medium, .warning {
    color: $medium-color;
    font-weight: 700;
  }

  .low {
    color: $low-color;
    font-weight: 700;
  }
}
