<!-- Generic left-menu link partial for zone-then-resource -->
<script id="left_menu_for_gcp_zone.partial" type="text/x-handlebars-template">
  <div id="services.{{service_name}}.projects.id.zones.id.{{resource_type}}.list">
  <div class="list-group" >
    <div class="list-group-item">
      <a href="javascript:showRowWithItems('services.{{service_name}}.projects.id.zones.id.{{resource_type}}')">Show all <span class="badge float-right btn-info">{{get_value_at 'metadata' service_group service_name 'resources' resource_type 'count'}}</span></a>
    </div>
  </div>
  {{#each items}}
  <div class="list-group" id="services.{{../service_name}}.projects.{{@key}}.zones.list">
    <div class="list-group-item active">
      <a href="#services.{{../service_name}}.projects.{{@key}}.zones">{{@key}}</a>
      <span class="float-right"><a href="javascript:hideList('services.{{../service_name}}.projects.{{@key}}.zones.list')"><i class="fa fa-times-circle"></i></a></span>
    </div>
    {{#each (lookup . ../zones)}}
    <a>{{@key}}</a>
    {{/each}}
  </div>
  {{/each}}
  </div>
</script>
<script>
    Handlebars.registerPartial("left_menu_for_gcp_zone", $("#left_menu_for_gcp_zone\\.partial").html());
</script>

