
<!-- Compute Engine instances partial -->
<script id="services.computeengine.instances.partial" type="text/x-handlebars-template">
    <div class="list-group-item active">
        <h4 class="list-group-item-heading">{{name}}</h4>
    </div>
    <div class="list-group-item">
        <h4 class="list-group-item-heading">Information</h4>
        <div class="list-group-item-text item-margin">Name: <span id="computeengine.instances.{{@key}}.name">{{name}}</span></div>
        <div class="list-group-item-text item-margin">Description: <span id="computeengine.instances.{{@key}}.description">{{description}}</span></div>
        <div class="list-group-item-text item-margin">Status: <span id="computeengine.instances.{{@key}}.status">{{status}}</span></div>
        <div class="list-group-item-text item-margin">Creation Date: <span id="computeengine.instances.{{@key}}.creation_timestamp">{{creation_timestamp}}</span></div>
        <div class="list-group-item-text item-margin">Tags: <span id="computeengine.instances.{{@key}}.tags">{{json_stringify tags}}</span></div>
        <div class="list-group-item-text item-margin">Deletion Protection: <span id="computeengine.instances.{{@key}}.deletion_protection">{{deletion_protection}}</span></div>
    </div>
</script>

<script>
    Handlebars.registerPartial("services.computeengine.instances", $("#services\\.computeengine\\.instances\\.partial").html());
</script>

<!-- Single computeengine instance template -->
<script id="single_computeengine_instance-template" type="text/x-handlebars-template">
    <div style="text-align: right; padding-right: 10px; text-weight: bold;"><a href="javascript:hidePopup()">X</a></div>
    {{> services.computeengine.instances}}
</script>
<script>
    var single_computeengine_instance_template = Handlebars.compile($("#single_computeengine_instance-template").html());
</script>
