
<!-- Compute Engine firewalls partial -->
<script id="services.computeengine.firewalls.partial" type="text/x-handlebars-template">
    <div class="list-group-item active">
        <h4 class="list-group-item-heading">{{name}}</h4>
    </div>
    <div class="list-group-item">
        <h4 class="list-group-item-heading">Information</h4>
        <div class="list-group-item-text item-margin">ID: <span id="computeengine.firewalls.{{@key}}.id">{{id}}</span></div>
        <div class="list-group-item-text item-margin">Name: <span id="computeengine.firewalls.{{@key}}.name">{{name}}</span></div>
        <!--<div class="list-group-item-text item-margin">VPC: <span id="computeengine.firewalls.{{@key}}.network">{{network}}</span></div>-->
        <div class="list-group-item-text item-margin">Description: <span id="computeengine.firewalls.{{@key}}.description">{{description}}</span></div>
        <div class="list-group-item-text item-margin">Creation Date: <span id="computeengine.firewalls.{{@key}}.creation_timestamp">{{creation_timestamp}}</span></div>
        <div class="list-group-item-text item-margin">Priority: <span id="computeengine.firewalls.{{@key}}.priority">{{priority}}</span></div>
        <div class="list-group-item-text item-margin">Disabled: <span id="computeengine.firewalls.{{@key}}.disabled">{{disabled}}</span></div>
    </div>
    <div class="list-group-item">
        <h4 class="list-group-item-heading">Configuration</h4>
        <div class="list-group-item-text item-margin">Direction: <span id="computeengine.firewalls.{{@key}}.direction">{{direction}}</span></div>
        <div class="list-group-item-text item-margin">Source Ranges: <span id="computeengine.firewalls.{{@key}}.source_ranges">{{source_ranges}}</span></div>
        <div class="list-group-item-text item-margin">Source Tags: <span id="computeengine.firewalls.{{@key}}.source_tags">{{source_tags}}</span></div>
        <div class="list-group-item-text item-margin">Target Tags: <span id="computeengine.firewalls.{{@key}}.target_tags">{{target_tags}}</span></div>
    </div>
    <div class="list-group-item">
        {{#ifEqual action "allowed"}}
            <h4 class="list-group-item-heading">Allowed Traffic</h4>
            <div class="list-group-item-text item-margin"><span id="computeengine.firewalls.{{@key}}.allowed_traffic">{{json_stringify allowed_traffic}}</span></div>
        {{else}}
            <h4 class="list-group-item-heading">Denied Traffic</h4>
            <div class="list-group-item-text item-margin"><span id="computeengine.firewalls.{{@key}}.denied_traffic">{{json_stringify denied_traffic}}</span></div>
        {{/ifEqual}}
    </div>
</script>

<script>
    Handlebars.registerPartial("services.computeengine.firewalls", $("#services\\.computeengine\\.firewalls\\.partial").html());
</script>

<!-- Single computeengine firewall template -->
<script id="single_computeengine_firewall-template" type="text/x-handlebars-template">
    <div style="text-align: right; padding-right: 10px; text-weight: bold;"><a href="javascript:hidePopup()">X</a></div>
    {{> services.computeengine.firewalls}}
</script>
<script>
    var single_computeengine_firewall_template = Handlebars.compile($("#single_computeengine_firewall-template").html());
</script>
