
<!-- Stackdriver Logging monitored_resources partial -->
<script id="services.stackdrivermonitoring.projects.id.monitored_resources.partial" type="text/x-handlebars-template">
    <div id="resource-name" class="list-group-item active">
        <h4 class="list-group-item-heading">{{name}}</h4>
    </div>
    <div class="list-group-item">
        <h4 class="list-group-item-heading">Information</h4>
        <div class="list-group-item-text item-margin">Sink Name: <span id="stackdrivermonitoring.projects.{{@../key}}.monitored_resources.{{@key}}.name">{{name}}</span></div>
        <div class="list-group-item-text item-margin">Project ID: <span id="stackdrivermonitoring.projects.{{project}}.keyrings.{{@key}}.project_id"><samp>{{project}}</samp></span></div>
        <div class="list-group-item-text item-margin">Description: <span id="stackdrivermonitoring.projects.{{@../key}}.monitored_resources.{{@key}}.description"><samp>{{description}}</samp></span></div>
    </div>
</script>

<script>
    Handlebars.registerPartial("services.stackdrivermonitoring.projects.id.monitored_resources", $("#services\\.stackdrivermonitoring\\.projects\\.id\\.monitored_resources\\.partial").html());
</script>

<!-- Single stackdrivermonitoring monitored_resource template -->
<script id="single_stackdrivermonitoring_monitored_resource-template" type="text/x-handlebars-template">
    {{> modal-template template='services.stackdrivermonitoring.projects.id.monitored_resources'}}
</script>
<script>
    var single_stackdrivermonitoring_monitored_resource_template = Handlebars.compile($("#single_stackdrivermonitoring_monitored_resource-template").html());
</script>
