@import 'src/variables';

.main-layout {
  color: $font-color;
  display: grid;
  grid-template-areas: 
    'header header'
    'menu   main';
  grid-template-rows: $nav-header-height auto;
  grid-template-columns: $nav-menu-width auto;

  .nav-header {
    grid-area: header;
    position: sticky;
    top: 0;
  }

  .menu-bar {
    grid-area: menu;
    height: calc(100vh - #{$nav-header-height});
    position: sticky;
    top: $nav-header-height;
  }

  .main {
    grid-area: main;
    margin: 1.5rem 3rem;
    overflow: hidden;
  }
}
