@import 'src/variables';

.main-layout {
  color: $font-color;
  display: grid;
  grid-template-areas: 
    'header header'
    'menu   main';
  grid-template-rows: $nav-header-height auto;
  grid-template-columns: $nav-menu-width auto;

  .nav-header {
    grid-area: header;
    position: sticky;
    top: 0;
  }

  .menu-bar {
    grid-area: menu;
    height: calc(100vh - #{$nav-header-height});
    position: sticky;
    top: $nav-header-height;
  }

  .main {
    grid-area: main;
    margin: 1.5rem 2rem;
    overflow: hidden;

    .ncc-footer {
      font-size: 0.75rem;

      a {
        display: inline-flex;
        align-items: center;
        color: $ncc-red;

        &:hover {
          color: $ncc-red-hvr;
        }

        img {
          margin-left:0.25rem;
          max-height: 0.75rem;
        }
      }
      
    }
  }

  .about-scout {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    cursor: pointer;

    svg {
      font-size: 0.75rem;
      margin-right: 0.5rem;
    }
  }
}
