
  <!-- IAM credential report partial -->
  <script id="services.iam.credential_reports.partial" type="text/x-handlebars-template">
    <div id="resource-name" class="list-group-item active">
      <h4 class="list-group-item-heading">{{name}}</h4>
    </div>
    <div class="list-group-item">
        <h4 class="list-group-item-heading">Credentials Report</h4>
        <div class="list-group-item-text item-margin">Creation Date: {{ format_date (getValueAt 'services' 'iam' 'credential_reports' @key 'user_creation_time')}}</div>
        <div class="list-group-item-text item-margin">Last Used Date:  <span id="iam.credential_reports.{{@key}}.inactive_user">{{ format_date (getValueAt 'services' 'iam' 'credential_reports' @key 'last_used')}}</span></div>
        <div class="list-group-item-text item-margin">Password Last Used: <span id="iam.credential_reports.{{@key}}.password_last_used">{{ format_date (getValueAt 'services' 'iam' 'credential_reports' @key 'password_last_used')}}</span></div>
        <div class="list-group-item-text item-margin">MFA Active: <span id="iam.credential_reports.{{@key}}.mfa_active"><samp>{{getValueAt 'services' 'iam' 'credential_reports' @key 'mfa_active'}}</samp></span></div>
        <div class="list-group-item-text item-margin">Access Key 1 Active: <span id="iam.credential_reports.{{@key}}.access_key_1_active"><samp>{{getValueAt 'services' 'iam' 'credential_reports' @key 'access_key_1_active'}}</samp></span></div>
        <div class="list-group-item-text item-margin">Access Key 2 Active: <span id="iam.credential_reports.{{@key}}.access_key_2_active"><samp>{{getValueAt 'services' 'iam' 'credential_reports' @key 'access_key_2_active'}}</samp></span></div>
        <div class="list-group-item-text item-margin">Access Key 1 Last Used: {{format_date (getValueAt 'services' 'iam' 'credential_reports' @key 'access_key_1_last_used_date')}}</div>
        <div class="list-group-item-text item-margin">Access Key 2 Last Used: {{format_date (getValueAt 'services' 'iam' 'credential_reports' @key 'access_key_2_last_used_date')}}</div>
        <div class="list-group-item-text item-margin">Signing Cert 1 Active: <samp>{{getValueAt 'services' 'iam' 'credential_reports' @key 'cert_1_active'}}</samp></div>
        <div class="list-group-item-text item-margin">Signing Cert 2 Active: <samp>{{getValueAt 'services' 'iam' 'credential_reports' @key 'cert_2_active'}}</samp></div>
    </div>
  </script>

  <script>
    Handlebars.registerPartial("services.iam.credential_reports", $("#services\\.iam\\.credential_reports\\.partial").html());
  </script>

<!-- Single IAM credential_reports template -->
<script id="services.iam.credential_reports.template" type="text/x-handlebars-template">
    {{> modal-template template='services.iam.credential_reports'}}
</script>

<script>
    var single_iam_credential_reports_template = Handlebars.compile($("#services\\.iam\\.credential_reports\\.template").html());
</script>
