<!-- documentdb clusters -->
<script id="services.documentdb.clusters.partial" type="text/x-handlebars-template">
    <div id="resource-name" class="list-group-item active">
        <h4 class="list-group-item-heading">{{name}}</h4>
    </div>
    <div class="list-group-item">
        <h4 class="list-group-item-heading">Information</h4>
        <div class="list-group-item-text item-margin">Availability Zones: <span id="documentdb.clusters.{{@key}}.availability_zones"><samp>{{value_or_none availability_zones}}</samp></span></div>
        <div class="list-group-item-text item-margin">Backup Retention Period: <span id="documentdb.clusters.{{@key}}.backup_retention_period"><samp>{{value_or_none backup_retention_period}}</samp></span></div>
        <div class="list-group-item-text item-margin">Db Cluster Identifier: <span id="documentdb.clusters.{{@key}}.db_cluster_identifier"><samp>{{value_or_none db_cluster_identifier}}</samp></span></div>
        <div class="list-group-item-text item-margin">Db Cluster Parameter Group: <span id="documentdb.clusters.{{@key}}.db_cluster_parameter_group"><samp>{{value_or_none db_cluster_parameter_group}}</samp></span></div>
        <div class="list-group-item-text item-margin">Db Subnet Group: <span id="documentdb.clusters.{{@key}}.db_subnet_group"><samp>{{value_or_none db_subnet_group}}</samp></span></div>
        <div class="list-group-item-text item-margin">Status: <span id="documentdb.clusters.{{@key}}.status"><samp>{{value_or_none status}}</samp></span></div>
        <div class="list-group-item-text item-margin">Earliest Restorable Time: <span id="documentdb.clusters.{{@key}}.earliest_restorable_time"><samp>{{value_or_none earliest_restorable_time}}</samp></span></div>
        <div class="list-group-item-text item-margin">Endpoint: <span id="documentdb.clusters.{{@key}}.endpoint"><samp>{{value_or_none endpoint}}</samp></span></div>
        <div class="list-group-item-text item-margin">Reader Endpoint: <span id="documentdb.clusters.{{@key}}.reader_endpoint"><samp>{{value_or_none reader_endpoint}}</samp></span></div>
        <div class="list-group-item-text item-margin">Multi Az: <span id="documentdb.clusters.{{@key}}.multi_az"><samp>{{value_or_none multi_az}}</samp></span></div>
        <div class="list-group-item-text item-margin">Engine: <span id="documentdb.clusters.{{@key}}.engine"><samp>{{value_or_none engine}}</samp></span></div>
        <div class="list-group-item-text item-margin">Engine Version: <span id="documentdb.clusters.{{@key}}.engine_version"><samp>{{value_or_none engine_version}}</samp></span></div>
        <div class="list-group-item-text item-margin">Latest Restorable Time: <span id="documentdb.clusters.{{@key}}.latest_restorable_time"><samp>{{value_or_none latest_restorable_time}}</samp></span></div>
        <div class="list-group-item-text item-margin">Port: <span id="documentdb.clusters.{{@key}}.port"><samp>{{value_or_none port}}</samp></span></div>
        <div class="list-group-item-text item-margin">Master Username: <span id="documentdb.clusters.{{@key}}.master_username"><samp>{{value_or_none master_username}}</samp></span></div>
        <div class="list-group-item-text item-margin">Preferred Backup Window: <span id="documentdb.clusters.{{@key}}.preferred_backup_window"><samp>{{value_or_none preferred_backup_window}}</samp></span></div>
        <div class="list-group-item-text item-margin">Preferred Maintenance Window: <span id="documentdb.clusters.{{@key}}.preferred_maintenance_window"><samp>{{value_or_none preferred_maintenance_window}}</samp></span></div>
        <div class="list-group-item-text item-margin">Db Cluster Members: <span id="documentdb.clusters.{{@key}}.db_cluster_members"><samp>{{value_or_none db_cluster_members}}</samp></span></div>
        <div class="list-group-item-text item-margin">Vpc Security Groups: <span id="documentdb.clusters.{{@key}}.vpc_security_groups"><samp>{{value_or_none vpc_security_groups}}</samp></span></div>
        <div class="list-group-item-text item-margin">Hosted Zone Id: <span id="documentdb.clusters.{{@key}}.hosted_zone_id"><samp>{{value_or_none hosted_zone_id}}</samp></span></div>
        <div class="list-group-item-text item-margin">Storage Encrypted: <span id="documentdb.clusters.{{@key}}.storage_encrypted"><samp>{{value_or_none storage_encrypted}}</samp></span></div>
        <div class="list-group-item-text item-margin">Kms Key Id: <span id="documentdb.clusters.{{@key}}.kms_key_id"><samp>{{value_or_none kms_key_id}}</samp></span></div>
        <div class="list-group-item-text item-margin">Db Cluster Resource Id: <span id="documentdb.clusters.{{@key}}.db_cluster_resource_id"><samp>{{value_or_none db_cluster_resource_id}}</samp></span></div>
        <div class="list-group-item-text item-margin">Db Cluster Arn: <span id="documentdb.clusters.{{@key}}.db_cluster_arn"><samp>{{value_or_none db_cluster_arn}}</samp></span></div>
        <div class="list-group-item-text item-margin">Associated Roles: <span id="documentdb.clusters.{{@key}}.associated_roles"><samp>{{value_or_none associated_roles}}</samp></span></div>
        <div class="list-group-item-text item-margin">Cluster Create Time: <span id="documentdb.clusters.{{@key}}.cluster_create_time"><samp>{{value_or_none cluster_create_time}}</samp></span></div>
        <div class="list-group-item-text item-margin">Deletion Protection: <span id="documentdb.clusters.{{@key}}.deletion_protection"><samp>{{value_or_none deletion_protection}}</samp></span></div>
    </div>
</script>

<script>
    Handlebars.registerPartial("services.documentdb.clusters", $("#services\\.documentdb\\.clusters\\.partial").html());
</script>

<!-- Single documentdb cluster template -->
<script id="single_documentdb_cluster-template" type="text/x-handlebars-template">
    {{> modal-template template='services.documentdb.clusters'}}
</script>
<script>
    var single_documentdb_cluster_template = Handlebars.compile($("#single_documentdb_cluster-template").html());
</script>