
    <!-- SNS queue partial -->
    <script id="services.sqs.regions.id.queues.partial" type="text/x-handlebars-template">
        <div id="resource-name" class="list-group-item active">
          <h4 class="list-group-item-heading">{{name}}</h4>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">Information</h4>
          <div class="list-group-item-text item-margin">Region: {{region}}</div>
          <div class="list-group-item-text item-margin">ARN: {{arn}}</div>
          <div class="list-group-item-text item-margin">KMS master key id:
            <span id="sqs.regions.{{region}}.queues.{{@key}}.server-side-encryption-disabled">
              {{#if kms_master_key_id}} {{kms_master_key_id}} {{else}} None {{/if}}
            </span>
          </div>
          <div class="list-group-item-text item-margin">SQS-managed encryption keys:
            <span id="sqs.regions.{{region}}.queues.{{@key}}.server-side-encryption-disabled">
              {{#ifEqual sqs_managed_sse_enabled "true"}} Enabled {{else}} Disabled {{/ifEqual}}
            </span>
          </div>
          <div class="list-group-item-text item-margin">Created on: {{CreatedTimestamp}}</div>
        </div>
        <div class="list-group-item">
            {{#if Policy.Statement.length}}
                {{> accordion_policy name = 'Access Control Policy' policy_path = (concat 'sqs.regions' region 'queues' @key 'Policy') document = Policy}}
            {{else}}
                <h4 class="list-group-item-heading accordion-heading text-secondary">Access Control Policy</h4>
            {{/if}}
        </div>
    </script>
    <script>
      Handlebars.registerPartial("services.sqs.regions.id.queues", $("#services\\.sqs\\.regions\\.id\\.queues\\.partial").html());
    </script>

    <!-- Single SNS queue template -->
    <script id="single_sqs_queue-template" type="text/x-handlebars-template">
        {{> modal-template template='services.sqs.regions.id.queues'}}
    </script>
    <script>
        var single_sqs_queue_template = Handlebars.compile($("#single_sqs_queue-template").html());
    </script>
