
    <!-- IAM inline policies partial -->
    <script id="services.iam.inline_policies.partial" type="text/x-handlebars-template">
        <div class="list-group-item">
          <h4 class="list-group-item-heading">
            Inline Policies 
            {{> count_badge count=inline_policies_count}}
          </h4>
          {{#each inline_policies}}
            {{> accordion_policy name = name document = PolicyDocument policy_path = (concat 'iam' ../resource_type ../resource_id 'inline_policies' @key 'PolicyDocument') heading="h5" samp=true}}
          {{/each}}
        </div>
    </script>
    <script>
      Handlebars.registerPartial("services.iam.inline_policies", $("#services\\.iam\\.inline_policies\\.partial").html());
    </script>

