<!-- public_access_block_configuration partial -->
<script id="services.s3.public_access_block_configuration.partial" type="text/x-handlebars-template">
    <div class="list-group-item">
            <h4 class="list-group-item-heading">Public Access Block Configuration</h4>
            <div class="list-group-item-text item-margin">IgnorePublicAcls:
                {{convert_bool_to_enabled public_access_block_configuration.IgnorePublicAcls}}
            </div>
            <div class="list-group-item-text item-margin">BlockPublicPolicy:
                {{convert_bool_to_enabled public_access_block_configuration.BlockPublicPolicy}}
            </div>
            <div class="list-group-item-text item-margin">BlockPublicAcls:
                {{convert_bool_to_enabled public_access_block_configuration.BlockPublicAcls}}
            </div>
            <div class="list-group-item-text item-margin">RestrictPublicBuckets:
                {{convert_bool_to_enabled public_access_block_configuration.RestrictPublicBuckets}}
            </div>
        </div>
    </div>
</script>
<script>
      Handlebars.registerPartial("services.s3.public_access_block_configuration", $("#services\\.s3\\.public_access_block_configuration\\.partial").html());

</script>

