
<!-- Table partial -->
<script id="services.dynamodb.regions.id.tables.partial" type="text/x-handlebars-template">
  {{#unless scout2_link}}
    <div id="resource-name" class="list-group-item active">
      <h4 class="list-group-item-heading">{{TableName}}</h4>
    </div>
    <div class="list-group-item">
    <h4>Information</h4>
      <ul>
        <li class="list-group-item-text">Id: {{TableId}}</li>
        <li class="list-group-item-text">Arn: {{TableArn}}</li>
        <li class="list-group-item-text">Automatic backups enabled: {{automatic_backups_enabled}}</li>
        <li class="list-group-item-text">Encryption type: {{#if SSEDescription}}AWS managed CMK{{else}}AWS owned CMK{{/if}}</li>
      </ul>
    </div>
  {{/unless}}
</script>
<script>
  Handlebars.registerPartial("services.dynamodb.regions.id.tables", $("#services\\.dynamodb\\.regions\\.id\\.tables\\.partial").html());
</script>

<!-- Single DynamoDB instance template -->
<script id="single_dynamodb_table-template" type="text/x-handlebars-template">
    {{> modal-template template='services.dynamodb.regions.id.tables' }}
</script>
<script>
    var single_dynamodb_table_template = Handlebars.compile($("#single_dynamodb_table-template").html());
</script>
