<!-- ECS Task partial -->
<script id="services.ecs.regions.id.tasks.partial" type="text/x-handlebars-template">
    <div id="resource-name" class="list-group-item active">
        <h4 class="list-group-item-heading">{{arn}}</h4>
    </div>
    <div class="list-group-item">
        <h4>Information</h4>
        <ul>
            <li class="list-group-item-text">Task Definition ARN: {{taskDefinitionArn}}</li>
            <li class="list-group-item-text">Cluster ARN: {{cluster_arn}}</li>
            <li class="list-group-item-text">Launch Type: {{task_launchType}}</li>
            <li class="list-group-item-text">Status: {{last_status}}</li>
            <li class="list-group-item-text">Health Status: {{healthStatus}}</li>
            <li class="list-group-item-text">Desired Status: {{desiredStatus}}</li>
            <li class="list-group-item-text">Region: {{region}}</li>
            <li class="list-group-item-text">Availiblity Zone: {{availabilityZone}}</li>
            <li class="list-group-item-text">Container Instance ARN : {{containerInstanceArn}}</li>
            <li class="list-group-item-text">Container ARN : {{containerArn}}</li>
            <li class="list-group-item-text">Container Name : {{container_name}}</li>
            <li class="list-group-item-text">Image Name : {{container_image_name}}</li>
            <li class="list-group-item-text">Container Last Status : {{container_lastStatus}}</li>
        </ul>
    </div>
</script>
<script>
    Handlebars.registerPartial("services.ecs.regions.id.tasks", $("#services\\.ecs\\.regions\\.id\\.tasks\\.partial").html());
</script>
<!-- Single ECS task instance template -->
<script id="single_ecs_task-template" type="text/x-handlebars-template">
    {{> modal-template template='services.ecs.regions.id.tasks' }}
</script>
<script>
    var single_ecs_task_template = Handlebars.compile($("#single_ecs_task-template").html());
</script>