
    <!-- elb ELB partial -->
    <script id="services.elb.regions.id.vpcs.id.elbs.partial" type="text/x-handlebars-template">
        <div class="list-group-item active">
            <h4 class="list-group-item-heading">{{name}}</h4>
        </div>
        <div class="list-group-item">
            <h4>Information</h4>
            <ul>
                <li class="list-group-item-text">ARN: <samp>{{arn}}</samp></li>
                <li class="list-group-item-text">VPC: {{getValueAt 'services.elb.regions' region 'vpcs' vpc 'name'}} ({{vpc}})</li>
                <li class="list-group-item-text">DNS: {{DNSName}}</li>
                <li class="list-group-item-text">Scheme: {{Scheme}}</li>
                <li class="list-group-item-text">Availability zones:</li>
                <ul>
                    {{#each AvailabilityZones}}
                        <li class="list-group-item-text">{{this}}</li>
                    {{/each}}
                </ul>
            </ul>
        </div>
        <div class="list-group-item">
            <h4>Listeners</h4>
            <ul>
                {{#each listeners}}
                    <li class="list-group-item-text">
                        {{@key}} ({{Protocol}}{{#if SslPolicy}}, {{SslPolicy}}{{/if}})
                    </li>
                {{/each}}
          </ul>
        </div>
        <div class="list-group-item">
            <h4>Attributes</h4>
            <ul>
                {{#each attributes}}
                    {{#each this}}
                        <li class="list-group-item-text">{{@../key}}.{{@key}}: <span id="elb.regions.{{../../region}}.vpcs.{{../../vpc}}.elbs.{{@../../key}}.attributes.{{@../key}}.{{@key}}">{{this}}</span></li>
                    {{/each}}
                {{/each}}
            </ul>
        </div>
        <div class="list-group-item" style="padding-bottom: 0 !important;">
          <div class="accordion">
            <h4 class="list-group-item-heading accordion-heading">Security Groups
              {{> count_badge count=security_groups.length target=(concat '#services.elb.regions' region 'vpcs' vpc 'elbs' @key 'security_groups')}}
            </h4>
            <div id="services.ec2.regions.{{region}}.vpcs.{{vpc}}.elbs.{{@key}}.security_groups" class="accordion-body">
              <div class="accordion-inner">
                <ul class="no-bullet">
                  {{#each security_groups}}
                    <li><a href="javascript:showObject('services.ec2.regions.{{../region}}.vpcs.{{../vpc}}.security_groups.{{GroupId}}')">{{GroupId}}</a></li>
                  {{/each}}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="list-group-item">
          <h4>Destination</h4>
          <ul>
            {{> services.elb.regions.vpcs.elbs.linked_resources service='ec2' region = region vpc = vpc resources = instances resource_type = 'instances'}}
            {{> services.elb.regions.vpcs.elbs.linked_resources service='vpc' region = region vpc = vpc resources = Subnets resource_type = 'subnets'}}
          </ul>
        </div>
        {{#if tags}}
            <div class="list-group-item">
                <h4>Tags</h4>
                <ul>
                    {{#each tags}}
                        <li class="list-group-item-text"><samp>{{@key}}</samp>: <samp>{{this}}</samp></li>
                    {{/each}}
                </ul>
            </div>
        {{/if}}
    </script>
    <script>
      Handlebars.registerPartial("services.elb.regions.id.vpcs.id.elbs", $("#services\\.elb\\.regions\\.id\\.vpcs\\.id\\.elbs\\.partial").html());
    </script>

    <!-- Single instance template -->
    <script id="single_elb_elb-template" type="text/x-handlebars-template">
        {{> modal-template template='services.elb.regions.id.vpcs.id.elbs'}}
    </script>

    <script>
        var single_elb_elb_template = Handlebars.compile($("#single_elb_elb-template").html());
    </script>
