<!-- documentdb instances -->
<script id="services.documentdb.instances.partial" type="text/x-handlebars-template">
    <div id="resource-name" class="list-group-item active">
        <h4 class="list-group-item-heading">{{name}}</h4>
    </div>
    <div class="list-group-item">
        <h4 class="list-group-item-heading">Information</h4>
        <div class="list-group-item-text item-margin">Db Instance Identifier: <span id="documentdb.instances.{{@key}}.db_instance_identifier"><samp>{{value_or_none db_instance_identifier}}</samp></span></div>
        <div class="list-group-item-text item-margin">Db Instance Class: <span id="documentdb.instances.{{@key}}.db_instance_class"><samp>{{value_or_none db_instance_class}}</samp></span></div>
        <div class="list-group-item-text item-margin">Engine: <span id="documentdb.instances.{{@key}}.engine"><samp>{{value_or_none engine}}</samp></span></div>
        <div class="list-group-item-text item-margin">Db Instance Status: <span id="documentdb.instances.{{@key}}.db_instance_status"><samp>{{value_or_none db_instance_status}}</samp></span></div>
        <div class="list-group-item-text item-margin">Endpoint: <span id="documentdb.instances.{{@key}}.endpoint"><samp>{{value_or_none endpoint}}</samp></span></div>
        <div class="list-group-item-text item-margin">Instance Create Time: <span id="documentdb.instances.{{@key}}.instance_create_time"><samp>{{value_or_none instance_create_time}}</samp></span></div>
        <div class="list-group-item-text item-margin">Preferred Backup Window: <span id="documentdb.instances.{{@key}}.preferred_backup_window"><samp>{{value_or_none preferred_backup_window}}</samp></span></div>
        <div class="list-group-item-text item-margin">Backup Retention Period: <span id="documentdb.instances.{{@key}}.backup_retention_period"><samp>{{value_or_none backup_retention_period}}</samp></span></div>
        <div class="list-group-item-text item-margin">Vpc Security Groups: <span id="documentdb.instances.{{@key}}.vpc_security_groups"><samp>{{value_or_none vpc_security_groups}}</samp></span></div>
        <div class="list-group-item-text item-margin">Availability Zone: <span id="documentdb.instances.{{@key}}.availability_zone"><samp>{{value_or_none availability_zone}}</samp></span></div>
        <div class="list-group-item-text item-margin">Db Subnet Group: <span id="documentdb.instances.{{@key}}.db_subnet_group"><samp>{{value_or_none db_subnet_group}}</samp></span></div>
        <div class="list-group-item-text item-margin">Preferred Maintenance Window: <span id="documentdb.instances.{{@key}}.preferred_maintenance_window"><samp>{{value_or_none preferred_maintenance_window}}</samp></span></div>
        <div class="list-group-item-text item-margin">Pending Modified Values: <span id="documentdb.instances.{{@key}}.pending_modified_values"><samp>{{value_or_none pending_modified_values}}</samp></span></div>
        <div class="list-group-item-text item-margin">Engine Version: <span id="documentdb.instances.{{@key}}.engine_version"><samp>{{value_or_none engine_version}}</samp></span></div>
        <div class="list-group-item-text item-margin">Auto Minor Version Upgrade: <span id="documentdb.instances.{{@key}}.auto_minor_version_upgrade"><samp>{{value_or_none auto_minor_version_upgrade}}</samp></span></div>
        <div class="list-group-item-text item-margin">Publicly Accessible: <span id="documentdb.instances.{{@key}}.publicly_accessible"><samp>{{value_or_none publicly_accessible}}</samp></span></div>
        <div class="list-group-item-text item-margin">Db Cluster Identifier: <span id="documentdb.instances.{{@key}}.db_cluster_identifier"><samp>{{value_or_none db_cluster_identifier}}</samp></span></div>
        <div class="list-group-item-text item-margin">Storage Encrypted: <span id="documentdb.instances.{{@key}}.storage_encrypted"><samp>{{value_or_none storage_encrypted}}</samp></span></div>
        <div class="list-group-item-text item-margin">Kms Key Id: <span id="documentdb.instances.{{@key}}.kms_key_id"><samp>{{value_or_none kms_key_id}}</samp></span></div>
        <div class="list-group-item-text item-margin">Dbi Resource Id: <span id="documentdb.instances.{{@key}}.dbi_resource_id"><samp>{{value_or_none dbi_resource_id}}</samp></span></div>
        <div class="list-group-item-text item-margin">Promotion Tier: <span id="documentdb.instances.{{@key}}.promotion_tier"><samp>{{value_or_none promotion_tier}}</samp></span></div>
        <div class="list-group-item-text item-margin">Db Instance Arn: <span id="documentdb.instances.{{@key}}.db_instance_arn"><samp>{{value_or_none db_instance_arn}}</samp></span></div>
    </div>
</script>

<script>
    Handlebars.registerPartial("services.documentdb.instances", $("#services\\.documentdb\\.instances\\.partial").html());
</script>

<!-- Single documentdb instance template -->
<script id="single_documentdb_instance-template" type="text/x-handlebars-template">
    {{> modal-template template='services.documentdb.instances'}}
</script>
<script>
    var single_documentdb_instance_template = Handlebars.compile($("#single_documentdb_instance-template").html());
</script>