<!-- profiles profiles -->
<script id="services.profiles.profiles.partial" type="text/x-handlebars-template">
    <div id="resource-name" class="list-group-item active">
        <h4 class="list-group-item-heading">{{name}}</h4>
    </div>
    <div class="list-group-item">
        <h4 class="list-group-item-heading">Information</h4>
        <div class="list-group-item-text item-margin">ID: <span id="profiles.profiles.{{@key}}.id"><samp>{{value_or_none id}}</samp></span></div>
        <div class="list-group-item-text item-margin">Name: <span id="profiles.profiles.{{@key}}.name"><samp>{{value_or_none name}}</samp></span></div>
        <div class="list-group-item-text item-margin">Full Name: <span id="profiles.profiles.{{@key}}.full_name"><samp>{{value_or_none full_name}}</samp></span></div>
        <div class="list-group-item-text item-margin">Permissions API: <span id="profiles.profiles.{{@key}}.permissions_api_enabled"><samp>{{convert_bool_to_enabled permissions_api_enabled}}</samp></span></div>
        <div class="list-group-item-text item-margin">Permissions Apex REST Services: <span id="profiles.profiles.{{@key}}.permissions_apex_rest_services"><samp>{{convert_bool_to_enabled permissions_apex_rest_services}}</samp></span></div>
    </div>
    <div class="list-group-item">
        <h4 class="list-group-item-heading"><span id="profiles.profiles.{{@key}}.login_ip_ranges">Login IP Ranges</span></h4>
        <div class="accordion-inner">
            <ul>
                {{#each login_ip_ranges}}
                <li><samp>{{this}}</samp></li>
                {{else}}
                <li><samp>None</samp></li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="list-group-item">
        <h4 class="list-group-item-heading">Attributes</h4>
        <div class="accordion-inner">
            <ul>
                {{#each attributes}}
                <li>{{@key}}: <samp>{{this}}</samp></li>
                {{else}}
                <li><samp>None</samp></li>
                {{/each}}
            </ul>
        </div>
    </div>
</script>

<script>
    Handlebars.registerPartial("services.profiles.profiles", $("#services\\.profiles\\.profiles\\.partial").html());
</script>

<!-- Single profiles profile template -->
<script id="single_profiles_profile-template" type="text/x-handlebars-template">
    {{> modal-template template='services.profiles.profiles'}}
</script>
<script>
    var single_profiles_profile_template = Handlebars.compile($("#single_profiles_profile-template").html());
</script>
