
  <!-- Generic partial for region-then-vpc-then-resource -->
  <script id="details_for_vpc.partial" type="text/x-handlebars-template">
    <div id="services.ec2.regions.id.vpcs.id.{{resource_type}}.details">
      {{#each items}}
        <div class="list-group" id="services.{{../service_name}}.regions.{{@key}}">
          {{#each vpcs}}
            <div class="list-group" id="services.{{../service_name}}.regions.{{@../key}}.vpcs.{{@key}}">
              {{#each (lookup . ../../resource_type)}}
                {{> (lookup ../../.. 'partial_name') service_name = ../../../service_name region = @../../key vpc = @../key resource_type = ../../../resource_type resource_key = @key resource = this}}
              {{/each}}
            </div>
          {{/each}}
        </div>
      {{/each}}
    </div>
  </script>
  <script>
    Handlebars.registerPartial("details_for_vpc", $("#details_for_vpc\\.partial").html());
  </script>

