
    <!-- Generic partial for region-then-resource -->
    <script id="per_region.partial" type="text/x-handlebars-template">
      {{#if is_menu}}
        <ul class="list-group">
          <li class="list-group-item">
            <a href="#services.{{service_name}}.regions.*.{{resource_type}}">Show All<span class="badge pull-right">XXX</span></a></li>
          </li>
        </ul>
      {{/if}}
      {{#each regions}}
        {{#if ../is_menu}}
          <ul class="list-group" id="services.{{../../service_name}}.regions.{{@key}}.list">
            <li class="list-group-item active"><a href="#services.{{../../service_name}}.regions.{{@key}}.{{../../resource_type}}">{{@key}}</a></li>
        {{/if}}
        {{#each (lookup . ../resource_type)}}
          <div id="services.{{../../service_name}}.regions.{{@../key}}.details">
            {{> (lookup ../.. 'partial_name') service_name = ../../service_name region = @../key resource_type = ../../resource_type resource_key = @key resource = this}}
          </div>
        {{/each}}
        {{#if ../is_menu}}
          </ul>
        {{/if}}
      {{/each}}
    </script>
    <script>
      Handlebars.registerPartial("per_region", $("#per_region\\.partial").html());
    </script>

