
    <!-- Generic left-menu link partial for region-then-resource -->
    <script id="per_region_link.partial" type="text/x-handlebars-template">
      <ul class="list-group">
        <li class="list-group-item">
          <a href="#services.{{service_name}}.regions.*.{{resource_type}}">Show All <span class="badge pull-right">XXX</span></a></li>
        </li>
      </ul>
      {{#each regions}}
        <div class="list-group" id="services.{{../service_name}}.regions.{{@key}}.list">
          <div class="list-group-item active"><a href="#services.{{../service_name}}.regions.{{@key}}.{{../resource_type}}">{{@key}}</a></div>
          {{#each (lookup . ../resource_type)}}
            <div class="list-group-item-text list-sub-element" id="services.{{../../service_name}}.regions.{{@../key}}.{{resource_type}}.{{@key}}.list">
              <a href="#services.{{../../service_name}}.regions.{{@../key}}.{{../../resource_type}}.{{@key}}.view">{{Name}}{{name}}</a>
            </div>
          {{/each}}
        </div>
      {{/each}}
    </script>
    <script>
      Handlebars.registerPartial("per_region_link", $("#per_region_link\\.partial").html());
    </script>

