
    <!-- Generic partial for region-then-vpc-then-resource -->
    <script id="per_vpc.partial" type="text/x-handlebars-template">
      {{#each regions}}
        <div class="list-group" id="services.{{../service_name}}.regions.{{@key}}">
          {{#each vpcs}}
            <div class="list-group" id="services.{{../service_name}}.regions.{{@../key}}.vpcs.{{@key}}">
              {{#each (lookup . ../../resource_type)}}
                {{> (lookup ../../.. 'partial_name') service_name = ../../../service_name region = @../../key vpc = @../key resource_type = ../../../resource_type resource_key = @key resource = this}}
              {{/each}}
            </div>
          {{/each}}
        </div>
      {{/each}}
    </script>
    <script>
      Handlebars.registerPartial("per_vpc", $("#per_vpc\\.partial").html());
    </script>

