
    <!-- RDS security group partials -->
    <script id="services.rds.regions.id.vpcs.id.security_groups.partial" type="text/x-handlebars-template">
        <div class="list-group-item active">
          <h4 class="list-group-item-heading">{{name}}</h4>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">Information</h4>
          <div class="list-group-item-text item-margin">Description: {{description}}</div>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">Authorizations</h4>
          <ul>
            {{#each ec2_groups}}
              <li class="list-group-item-text">EC2 security group:
                <a href="javascript:findAndShowEC2ObjectByAttr('regions.vpcs.security_groups', {'name': '{{EC2SecurityGroupName}}', 'owner_id': '{{EC2SecurityGroupOwnerId}}'})">
                  {{EC2SecurityGroupName}} ({{@key}}) @ {{EC2SecurityGroupOwnerId}} ({{Status}})
                </a>
              </li>
            {{/each}}
            {{#each ip_ranges}}
              <li class="list-group-item-text">IP: {{@key}} ({{Status}})</li>
            {{/each}}
          </ul>
        </div>
    </script>
    <script>
        Handlebars.registerPartial("services.rds.regions.id.vpcs.id.security_groups", $("#services\\.rds\\.regions\\.id\\.vpcs\\.id\\.security_groups\\.partial").html());
    </script>

