
    <!-- S3 object partial -->
    <script id="services.s3.buckets.objects.partial" type="text/x-handlebars-template">
      <div class="list-group" id="services.s3.buckets.objects.{{Name}}.details">
        <div class="list-group-item active">
          <h4 class="list-group-item-heading">{{bucket_name}}/{{Name}}</h4>
        </div>
        <div class="list-gorup-item">
          <h4 class="list-group-item-heading">Information</h4>
          <div class="list-group-item-text">
            <ul class="no-bullet">
              <li>Server-side encryption: {{{good_bad_icon "unencrypted-s3-objects" bucket_name name}}}</li>
              <li>Permissions match bucket's: {{{good_bad_icon "object-perms-mismatch-bucket-perms" bucket_name name}}}</li>
            </ul>
          </div>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">Permissions</h4>
          <table class="table-striped" width="100%" >
            <tr>
              <td width="20%"></td>
              <td width="20%" class="text-center">Read access</td>
              <td width="20%" class="text-center">Read permissions</td>
              <td width="20%" class="text-center">Write access</td>
              <td width="20%" class="text-center">Write permissions</td>
            </tr>
            {{#each grants}}
              <tr>
                <td width="20%">{{@key}}</td>
                <td width="20%" class="text-center">
                  <span id="s3_buckets-{{Name}}-read-{{../name}}">{{{s3_grant_2_icon this.read}}}</td></span>
                </td>
                <td width="20%" class="text-center">
                  <span id="s3_buckets-{{Name}}-read_acp-{{../name}}">{{{s3_grant_2_icon this.read_acp}}}</td></span>
                </td>
                <td width="20%" class="text-center">
                  <span id="s3_buckets-{{Name}}-write-{{../name}}">{{{s3_grant_2_icon this.write}}}</td></span>
                </td>
                <td width="20%" class="text-center">
                  <span id="s3_buckets-{{Name}}-write_acp-{{../name}}">{{{s3_grant_2_icon this.write_acp}}}</td></span>
                </td>
              </tr>
            {{/each}}
          </table>
        </div>
      </div>
    </script>
    <script>
      Handlebars.registerPartial("services.s3.buckets.objects", $("#services\\.s3\\.buckets\\.objects\\.partial").html());
    </script>

