
    <!-- RDS instance partial -->
    <script id="services.rds.regions.id.vpcs.id.instances.partial" type="text/x-handlebars-template">
      <div class="list-group" id="services.rds.regions.{{region}}.vpcs.{{vpc}}.instances.{{resource_key}}.view">
        <div class="list-group-item active">
          <h4 class="list-group-item-heading">{{DBInstanceIdentifier}}</h4>
        </div>
        <div class="list-group-item">
          <h4>Information</h4>
          <ul>
            <li class="list-group-item-text">Region: {{region}}</li>
            <li class="list-group-item-text">Engine: {{Engine}}</li>
            <li class="list-group-item-text">Status: {{make_title DBInstanceStatus}}</li>
            <li class="list-group-item-text">Auto Minor Version Upgrade: <span id="rds_instances-no-minor-auto-upgrade-{{DBInstanceIdentifier}}">{{#if AutoMinorVersionUpgrade}} Enabled {{else}} Disabled {{/if}}</span></li>
            <li class="list-group-item-text">Multi Availability Zones: <span id="rds_instances-single-az-{{DBInstanceIdentifier}}">{{#if MultiAZ}} Enabled {{else}} Disabled {{/if}}</span></li>
            <li class="list-group-item-text">Instance Class: <span id="rds_instances-unscannable-instance-types-{{DBInstanceIdentifer}}"> {{DBInstanceClass}}<span></li>
            <li class="list-group-item-text">Created on: <span id="rds_instances-postgres-invalid-ssl-cert-{{DBInstanceIdentifier}}">{{InstanceCreateTime}}</span></li>
            <li class="list-group-item-tex">Backup retention period in days:
            <span id="rds_instances-backup-disabled-{{DBInstanceIdentifier}}">
            <span id="rds_instances-short-backup-retention-period-{{DBInstanceIdentifier}}">
              {{BackupRetentionPeriod}}
            </span>
            </span>
          </ul>
        </div>
        <div class="list-group-item">
          <h4>Network</h4>
          <ul>
            <li class="list-group-item-text">Endpoint: {{Endpoint.Address}}:{{Endpoint.Port}}</li>
            <li class="list-group-item-text">Publicly accessible: {{PubliclyAccessible}}</li>
          </ul>
        </div>
      </div>
    </script>
    <script>
      Handlebars.registerPartial("services.rds.regions.id.vpcs.id.instances", $("#services\\.rds\\.regions\\.id\\.vpcs\\.id\\.instances\\.partial").html());
    </script>

