
    <!-- Close popup button -->
    <script id="close_button-template" type="text/x-handlebars-template">
      <div style="text-align: right; padding-right: 10px; text-weight: bold;"><a href="javascript:hidePopup()">X</a></div>
    </script>
    <script>
      var close_button_template = Handlebars.compile($("#close_button-template").html());
    </script>

    <!-- Single RDS instance template -->
    <script id="single_rds_instance-template" type="text/x-handlebars-template">
        <div style="text-align: right; padding-right: 10px; text-weight: bold;"><a href="javascript:hidePopup()">X</a></div>
        {{> rds_instance}}
    </script>
    <script>
        var single_rds_instance_template = Handlebars.compile($("#single_rds_instance-template").html());
    </script>

    <!-- Single Redshift cluster template -->
    <script id="single_redshift_cluster-template" type="text/x-handlebars-template">
        <div style="text-align: right; padding-right: 10px; text-weight: bold;"><a href="javascript:hidePopup()">X</a></div>
        {{> redshift_cluster}}
    </script>
    <script>
        var single_redshift_cluster_template = Handlebars.compile($("#single_redshift_cluster-template").html());
    </script>

    <!-- Single S3 bucket template -->
    <script id="single_s3_bucket-template" type="text/x-handlebars-template">
        <div style="text-align: right; padding-right: 10px; text-weight: bold;"><a href="javascript:hidePopup()">X</a></div>
        {{> s3_bucket}}
    </script>
    <script>
        var single_s3_bucket_template = Handlebars.compile($("#single_s3_bucket-template").html());
    </script>

    <!-- Single S3 object template -->
    <script id="single_s3_object-template" type="text/x-handlebars-template">
        <div style="text-align: right; padding-right: 10px; text-weight: bold;"><a href="javascript:hidePopup()">X</a></div>
        {{> s3_object}}
    </script>
    <script>
      var single_s3_object_template = Handlebars.compile($("#single_s3_object-template").html());
    </script>

