
    <!-- Close popup button -->
    <script id="close_button-template" type="text/x-handlebars-template">
      <div style="text-align: right; padding-right: 10px; text-weight: bold;"><a href="javascript:hidePopup()">X</a></div>
    </script>
    <script>
      var close_button_template = Handlebars.compile($("#close_button-template").html());
    </script>

    <!-- Single EC2 instance template -->
    <script id="single_ec2_instance-template" type="text/x-handlebars-template">
        <div style="text-align: right; padding-right: 10px; text-weight: bold;"><a href="javascript:hidePopup()">X</a></div>
        {{> ec2_instance}}
    </script>
    <script>
        var single_ec2_instance_template = Handlebars.compile($("#single_ec2_instance-template").html());
    </script>

    <!-- Single EC2 VPC template -->
    <script id="single_ec2_vpc-template" type="text/x-handlebars-template">
        <div style="text-align: right; padding-right: 10px; text-weight: bold;"><a href="javascript:hidePopup()">X</a></div>
        {{> ec2_vpc}}
    </script>
    <script>
        var single_ec2_vpc_template = Handlebars.compile($("#single_ec2_vpc-template").html());
    </script>

    <!-- Single EC2 Network ACL template -->
    <script id="single_ec2_network_acl-template" type="text/x-handlebars-template">
        <div style="text-align: right; padding-right: 10px; text-weight: bold;"><a href="javascript:hidePopup()">X</a></div>
        {{> ec2_network_acl}}
    </script>
    <script>
        var single_ec2_network_acl_template = Handlebars.compile($("#single_ec2_network_acl-template").html());
    </script>

    <!-- Single EC2 security group template -->
    <script id="single_ec2_security_group-template" type="text/x-handlebars-template">
        <div style="text-align: right; padding-right: 10px; text-weight: bold;"><a href="javascript:hidePopup()">X</a></div>
        {{> ec2_security_group}}
    </script>
    <script>
        var single_ec2_security_group_template = Handlebars.compile($("#single_ec2_security_group-template").html());
    </script>

    <!-- Single IAM group template -->
    <script id="single_iam_Group-template" type="text/x-handlebars-template">
        <div style="text-align: right; padding-right: 10px; text-weight: bold;"><a href="javascript:hidePopup()">X</a></div>
        {{> services.iam.groups}}
    </script>
    <script>
        var single_iam_group_template = Handlebars.compile($("#single_iam_Group-template").html());
    </script>

    <!-- Single IAM policy template -->
    <script id="single_iam_policy-template" type="text/x-handlebars-template">
        <div style="text-align: right; padding-right: 10px; text-weight: bold;"><a href="javascript:hidePopup()">X</a></div>
        {{> services.iam.policy}}
        <hr>
    </script>
    <script>
        var single_iam_policy_template = Handlebars.compile($("#single_iam_policy-template").html());
    </script>

    <!-- Single IAM role template -->
    <script id="single_iam_Role-template" type="text/x-handlebars-template">
        <div style="text-align: right; padding-right: 10px; text-weight: bold;"><a href="javascript:hidePopup()">X</a></div>
        {{> services.iam.roles}}
    </script>
    <script>
        var single_iam_role_template = Handlebars.compile($("#single_iam_Role-template").html());
    </script>

    <!-- Single IAM user template -->
    <script id="single_iam_User-template" type="text/x-handlebars-template">
        <div style="text-align: right; padding-right: 10px; text-weight: bold;"><a href="javascript:hidePopup()">X</a></div>
        {{> services.iam.users}}
    </script>
    <script>
        var single_iam_user_template = Handlebars.compile($("#single_iam_User-template").html());
    </script>

    <!-- Single RDS instance template -->
    <script id="single_rds_instance-template" type="text/x-handlebars-template">
        <div style="text-align: right; padding-right: 10px; text-weight: bold;"><a href="javascript:hidePopup()">X</a></div>
        {{> rds_instance}}
    </script>
    <script>
        var single_rds_instance_template = Handlebars.compile($("#single_rds_instance-template").html());
    </script>

    <!-- Single Redshift cluster template -->
    <script id="single_redshift_cluster-template" type="text/x-handlebars-template">
        <div style="text-align: right; padding-right: 10px; text-weight: bold;"><a href="javascript:hidePopup()">X</a></div>
        {{> redshift_cluster}}
    </script>
    <script>
        var single_redshift_cluster_template = Handlebars.compile($("#single_redshift_cluster-template").html());
    </script>

    <!-- Single S3 bucket template -->
    <script id="single_s3_bucket-template" type="text/x-handlebars-template">
        <div style="text-align: right; padding-right: 10px; text-weight: bold;"><a href="javascript:hidePopup()">X</a></div>
        {{> s3_bucket}}
    </script>
    <script>
        var single_s3_bucket_template = Handlebars.compile($("#single_s3_bucket-template").html());
    </script>

    <!-- Single S3 object template -->
    <script id="single_s3_object-template" type="text/x-handlebars-template">
        <div style="text-align: right; padding-right: 10px; text-weight: bold;"><a href="javascript:hidePopup()">X</a></div>
        {{> s3_object}}
    </script>
    <script>
      var single_s3_object_template = Handlebars.compile($("#single_s3_object-template").html());
    </script>

