    <!-- Policy partial -->
    <script id="accordion_policy.partial" type="text/x-handlebars-template">
      <div class="accordion">
          <{{#if heading}}{{heading}}{{else}}h5{{/if}} class="list-group-item-heading accordion-heading">{{#samp}}<samp>{{/samp}}{{name}}{{#samp}}</samp>{{/samp}}
              <a class="accordion-toggle collapsed" data-toggle="collapse" href="#{{escape_dots policy_path}}">
                  <span class="badge float-right btn-info">Details</span>
              </a>
          </{{#if heading}}{{heading}}{{else}}h5{{/if}}>
        <div id="{{policy_path}}" class="accordion-body item-margin collapse">
          <div class="accordion-inner">
              <code>
                  {{> policy}}
              </code>
          </div>
        </div>
      </div>
    </script>
    <script>
      Handlebars.registerPartial("accordion_policy", $("#accordion_policy\\.partial").html());
    </script>
