
      <!-- Dasboard partial -->
      <script id="services.id.findings.partial" type="text/x-handlebars-template">
        <div class="row" id="services.{{service_name}}.findings.row">
          <div class="col-sm-12" id="services.{{service_name}}.findings.list">
              <div class="form-group container row">
                <div class="col-sm-4">
                    <input class="form-control dashboard-filter" type="text" id="dashboardFilter" placeholder="Filter findings">
                </div>
                <div class="col-sm-2">
                    <button class="form-control btn finding-title-unknown" id="finding-title">Show All</button>
                </div>
                <div class="col-sm-2">
                    <button class="form-control btn finding-title-good" id="finding-title-good">Good</button>
                </div>
                <div class="col-sm-2">
                    <button class="form-control btn finding-title-warning" id="finding-title-warning">Warning</button>
                </div>
                <div class="col-sm-2">
                    <button class="form-control btn finding-title-danger" id="finding-title-danger">Danger</button>
                </div>
              </div>
              {{#each_with_sort findings}}
              <div class="findings_row row">
                  <div class="col-sm">
                      <div class="list-group-item finding-title-{{dashboard_color level checked_items flagged_items}} plain-link">
                          <a href="#services.{{../service_name}}.findings.{{@key}}.items">
                              {{description}}
                          </a>
                          <i class="glyphicon glyphicon-info-sign pull-right" onmouseover="javascript:$('#{{@key}}\\.rationale').show()" onmouseleave="javascript:$('#{{@key}}\\.rationale').hide()"></i>
                          <div id="{{@key}}.rationale" class="list-group-item rationale-overlay finding-title-unknown">{{rationale}}</div>
                      </div>
                      <div class="list-group-item">
                          <ul>
                              <li>{{dashboard_name}} checked: {{checked_items}}</li>
                              <li>{{dashboard_name}} flagged: {{flagged_items}}</li>
                          </ul>
                      </div>
                  </div>
              </div>
              {{/each_with_sort}}
          </div>
        </div>
      </script>
      <script>
        Handlebars.registerPartial("dashboard", $("#services\\.id\\.findings\\.partial").html());
      </script>
      <script>
          // Dashboard filtering
          $(document).ready(function(){
              // Filter by text search
              $(".dashboard-filter").on("keyup", function() {
                  var value = $(this).val().toLowerCase();
                  $(".findings_row > .col-sm-4").filter(function() {
                      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                  });
              });
              // Filter by button
              $('.btn').click(function() {
                  var value = $(this).attr('id');
                  $(".findings_row > .col-sm-4").filter(function() {
                      $(this).toggle($(this).find(">:first-child").attr("class").indexOf(value) > -1)
                  });
                  $(".dashboard-filter").val("")
              })
          });
      </script>
