@import 'src/variables';

.dashboard {
  .tabs-menu {
    font-size: 1.75rem;

    .tab-pane {
      margin-right: 1.5rem;

      &.is-selected {
        border-bottom-width: 3px;
      }
    }
  }

  h2 {
    font-size: 1.75rem;
    margin: 0;
  }

  h3 {
    font-size: 1.5rem;
    margin: 0;
  }

  hr {
    border: 0;
    border-bottom: 2px solid $default-grey-subtle;
    margin: 0.5rem 0 1rem 0;
  }
}
