.breadcrumb-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;

  .provider-logo {
    height: 1.2rem;
    margin-right: 0.2rem;
  }

  span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
