.dashboard-summary {
  .overview, .services {
    width: 100%;
    margin-bottom: 2rem;

    & > hr {
      margin-bottom: 2rem;
    }
  }

  .services {
    .cards {
      display: flex;
      flex-wrap: wrap;
      margin-right: -1rem;
    }
  }
}
