@import 'src/variables';

.nav-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: $ncc-grey-dark;
  z-index: 10;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    margin: auto  0;

    img {
      height: 2.25rem;
      margin: 0.2rem 0 0;
    }

    .theme-switcher {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      svg {
        color: $white;

        .dark-mode & {
          color: $font-color;
        }
      }
    }
  }

  &::after {
    content: ' ';
    height: 0.4rem;
    width: 100%;
    background-color: $ncc-red;
  }
}


