
  <!-- Generic partial showing details about subscriptions and their resources -->
  <script id="details_for_subscription.partial" type="text/x-handlebars-template">
    <div id="services.{{service_name}}.subscriptions.id.{{resource_type}}.details">
      {{#each items}}
        {{#each (lookup . ../resource_type)}}
          <div class="list-group" id="services.{{../../service_name}}.subscriptions.{{@../key}}.{{../../resource_type}}.{{@key}}.view">
            {{> (lookup ../.. 'partial_name') service_name = ../../service_name subscription = @../key resource_type = ../../resource_type resource_key = @key resource = this}}
          </div>
        {{/each}}
      {{/each}}
    </div>
  </script>
  <script>
    Handlebars.registerPartial("details_for_subscription", $("#details_for_subscription\\.partial").html());
  </script>

