
<!-- graphrbac applications -->
<script id="services.graphrbac.applications.partial" type="text/x-handlebars-template">
    <div id="resource-name" class="list-group-item active">
        <h4 class="list-group-item-heading">{{name}}</h4>
    </div>
    <div class="list-group-item">
        <h4 class="list-group-item-heading">Information</h4>
        <div class="list-group-item-text item-margin">ID: <span id="graphrbac.applications.{{@key}}.id"><samp>{{value_or_none id}}</samp></span></div>
        <div class="list-group-item-text item-margin">App ID: <span id="graphrbac.applications.{{@key}}.app_id"><samp>{{value_or_none app_id}}</samp></span></div>
        <div class="list-group-item-text item-margin">Deletion Timestamp: <span id="graphrbac.applications.{{@key}}.deletion_timestamp"><samp>{{value_or_none deletion_timestamp}}</samp></span></div>
        <div class="list-group-item-text item-margin">Object Type: <span id="graphrbac.applications.{{@key}}.object_type"><samp>{{value_or_none object_type}}</samp></span></div>
        <div class="list-group-item-text item-margin">Allow Guests Sign In: <span id="graphrbac.applications.{{@key}}.allow_guests_sign_in"><samp>{{value_or_none allow_guests_sign_in}}</samp></span></div>
        <div class="list-group-item-text item-margin">Allow Passthrough Users: <span id="graphrbac.applications.{{@key}}.allow_passthrough_users"><samp>{{value_or_none allow_passthrough_users}}</samp></span></div>
        <div class="list-group-item-text item-margin">App Logo Url: <span id="graphrbac.applications.{{@key}}.app_logo_url"><samp>{{value_or_none app_logo_url}}</samp></span></div>
        <div class="list-group-item-text item-margin">App Roles: <span id="graphrbac.applications.{{@key}}.app_roles"><samp>{{value_or_none app_roles}}</samp></span></div>
        <div class="list-group-item-text item-margin">App Permissions: <span id="graphrbac.applications.{{@key}}.app_permissions"><samp>{{value_or_none app_permissions}}</samp></span></div>
        <div class="list-group-item-text item-margin">Available To Other Tenants: <span id="graphrbac.applications.{{@key}}.available_to_other_tenants"><samp>{{value_or_none available_to_other_tenants}}</samp></span></div>
        <div class="list-group-item-text item-margin">Error Url: <span id="graphrbac.applications.{{@key}}.error_url"><samp>{{value_or_none error_url}}</samp></span></div>
        <div class="list-group-item-text item-margin">Group Membership Claims: <span id="graphrbac.applications.{{@key}}.group_membership_claims"><samp>{{value_or_none group_membership_claims}}</samp></span></div>
        <div class="list-group-item-text item-margin">Homepage: <span id="graphrbac.applications.{{@key}}.homepage"><samp>{{value_or_none homepage}}</samp></span></div>
        <div class="list-group-item-text item-margin">Identifier Uris: <span id="graphrbac.applications.{{@key}}.identifier_uris"><samp>{{value_or_none identifier_uris}}</samp></span></div>
        <div class="list-group-item-text item-margin">Is Device Only Auth Supported: <span id="graphrbac.applications.{{@key}}.is_device_only_auth_supported"><samp>{{value_or_none is_device_only_auth_supported}}</samp></span></div>
        <div class="list-group-item-text item-margin">Key Credentials: <span id="graphrbac.applications.{{@key}}.key_credentials"><samp>{{value_or_none key_credentials}}</samp></span></div>
        <div class="list-group-item-text item-margin">Known Client Applications: <span id="graphrbac.applications.{{@key}}.known_client_applications"><samp>{{value_or_none known_client_applications}}</samp></span></div>
        <div class="list-group-item-text item-margin">Logout Url: <span id="graphrbac.applications.{{@key}}.logout_url"><samp>{{value_or_none logout_url}}</samp></span></div>
        <div class="list-group-item-text item-margin">Oauth2 Allow Implicit Flow: <span id="graphrbac.applications.{{@key}}.oauth2_allow_implicit_flow"><samp>{{value_or_none oauth2_allow_implicit_flow}}</samp></span></div>
        <div class="list-group-item-text item-margin">Oauth2 Allow Url Path Matching: <span id="graphrbac.applications.{{@key}}.oauth2_allow_url_path_matching"><samp>{{value_or_none oauth2_allow_url_path_matching}}</samp></span></div>
        <div class="list-group-item-text item-margin">Oauth2 Permissions: <span id="graphrbac.applications.{{@key}}.oauth2_permissions"><samp>{{value_or_none oauth2_permissions}}</samp></span></div>
        <div class="list-group-item-text item-margin">Oauth2 Require Post Response: <span id="graphrbac.applications.{{@key}}.oauth2_require_post_response"><samp>{{value_or_none oauth2_require_post_response}}</samp></span></div>
        <div class="list-group-item-text item-margin">Org Restrictions: <span id="graphrbac.applications.{{@key}}.org_restrictions"><samp>{{value_or_none org_restrictions}}</samp></span></div>
        <div class="list-group-item-text item-margin">Optional Claims: <span id="graphrbac.applications.{{@key}}.optional_claims"><samp>{{value_or_none optional_claims}}</samp></span></div>
        <div class="list-group-item-text item-margin">Password Credentials: <span id="graphrbac.applications.{{@key}}.password_credentials"><samp>{{value_or_none password_credentials}}</samp></span></div>
        <div class="list-group-item-text item-margin">Pre Authorized Applications: <span id="graphrbac.applications.{{@key}}.pre_authorized_applications"><samp>{{value_or_none pre_authorized_applications}}</samp></span></div>
        <div class="list-group-item-text item-margin">Public Client: <span id="graphrbac.applications.{{@key}}.public_client"><samp>{{value_or_none public_client}}</samp></span></div>
        <div class="list-group-item-text item-margin">Publisher Domain: <span id="graphrbac.applications.{{@key}}.publisher_domain"><samp>{{value_or_none publisher_domain}}</samp></span></div>
        <div class="list-group-item-text item-margin">Reply Urls: <span id="graphrbac.applications.{{@key}}.reply_urls"><samp>{{value_or_none reply_urls}}</samp></span></div>
        <div class="list-group-item-text item-margin">Required Resource Access: <span id="graphrbac.applications.{{@key}}.required_resource_access"><samp>{{value_or_none required_resource_access}}</samp></span></div>
        <div class="list-group-item-text item-margin">Saml Metadata Url: <span id="graphrbac.applications.{{@key}}.saml_metadata_url"><samp>{{value_or_none saml_metadata_url}}</samp></span></div>
        <div class="list-group-item-text item-margin">Sign In Audience: <span id="graphrbac.applications.{{@key}}.sign_in_audience"><samp>{{value_or_none sign_in_audience}}</samp></span></div>
        <div class="list-group-item-text item-margin">Www Homepage: <span id="graphrbac.applications.{{@key}}.www_homepage"><samp>{{value_or_none www_homepage}}</samp></span></div>
    </div>
</script>

<script>
    Handlebars.registerPartial("services.graphrbac.applications", $("#services\\.graphrbac\\.applications\\.partial").html());
</script>

<!-- Single graphrbac application template -->
<script id="single_graphrbac_application-template" type="text/x-handlebars-template">
    {{> modal-template template='services.graphrbac.applications'}}
</script>
<script>
    var single_graphrbac_application_template = Handlebars.compile($("#single_graphrbac_application-template").html());
</script>
