<!-- Logging and Monitoring Log Alerts-->
<script id="services.loggingmonitoring.subscriptions.id.log_alerts.partial" type="text/x-handlebars-template">
    <div id="resource-name" class="list-group-item active">
        <h4 class="list-group-item-heading">{{name}}</h4>
    </div>
    <div class="list-group-item">
        <h4 class="list-group-item-heading">Information</h4>
        <div class="list-group-item-text item-margin">Name: <span id="loggingmonitoring.subscriptions.{{subscription}}.log_alerts.{{@key}}.name"><samp>{{value_or_none name}}</samp></span></div>
    </div>
</script>

<script>
    Handlebars.registerPartial("services.loggingmonitoring.subscriptions.id.log_alerts", $("#services\\.loggingmonitoring\\.subscriptions\\.id\\.log_alerts\\.partial").html());
</script>

<!-- Single loggingmonittoring log alerts template -->
<script id="single_loggingmonitoring_log_alerts-template" type="text/x-handlebars-template">
    {{> modal-template template='services.loggingmonitoring.subscriptions.id.log_alerts'}}
</script>
<script>
    var single_loggingmonitoring_log_alerts_template = Handlebars.compile($("#single_loggingmonitoring_log_alerts-template").html());
</script>
