
<!-- network virtual_networks -->
<script id="services.network.virtual_networks.partial" type="text/x-handlebars-template">
    <div id="resource-name" class="list-group-item active">
        <h4 class="list-group-item-heading">{{name}}</h4>
    </div>
    <div class="list-group-item">
        <h4 class="list-group-item-heading">Information</h4>
        <div class="list-group-item-text item-margin">Name: <span id="network.virtual_networks.{{@key}}.name"><samp>{{name}}</samp></span></div>
        <div class="list-group-item-text item-margin">Subnets: <span id="network.virtual_networks.{{@key}}.subnets"><samp>{{subnets}}</samp></span></div>
        <div class="list-group-item-text item-margin">Tags: <span id="network.virtual_networks.{{@key}}.tags"><samp>{{tags}}</samp></span></div>
        <div class="list-group-item-text item-margin">Network Interfaces: <span id="network.virtual_networks.{{@key}}.network_interfaces"><samp>{{network_interfaces}}</samp></span></div>
        <div class="list-group-item-text item-margin">Resource Guid: <span id="network.virtual_networks.{{@key}}.resource_guid"><samp>{{resource_guid}}</samp></span></div>
        <div class="list-group-item-text item-margin">Provisioning State: <span id="network.virtual_networks.{{@key}}.provisioning_state"><samp>{{provisioning_state}}</samp></span></div>
        <div class="list-group-item-text item-margin">Etag: <span id="network.virtual_networks.{{@key}}.etag"><samp>{{etag}}</samp></span></div>
        <div class="list-group-item-text item-margin">Additional Properties: <span id="network.virtual_networks.{{@key}}.additional_properties"><samp>{{additional_properties}}</samp></span></div>
        <div class="list-group-item-text item-margin">Location: <span id="network.virtual_networks.{{@key}}.location"><samp>{{location}}</samp></span></div>
        <div class="list-group-item-text item-margin">Default Security Rules: <span id="network.virtual_networks.{{@key}}.default_security_rules"><samp>{{default_security_rules}}</samp></span></div>
        <div class="list-group-item-text item-margin">Security Rules: <span id="network.virtual_networks.{{@key}}.security_rules"><samp>{{security_rules}}</samp></span></div>
        <div class="list-group-item-text item-margin">Type: <span id="network.virtual_networks.{{@key}}.type"><samp>{{type}}</samp></span></div>
    </div>
</script>

<script>
    Handlebars.registerPartial("services.network.virtual_networks", $("#services\\.network\\.virtual_networks\\.partial").html());
</script>

<!-- Single network virtual_network template -->
<script id="single_network_virtual_network-template" type="text/x-handlebars-template">
    {{> modal-template template='services.network.virtual_networks'}}
</script>
<script>
    var single_network_virtual_network_template = Handlebars.compile($("#single_network_virtual_network-template").html());
</script>
