@import 'src/variables.scss';

.flagged-items {
  .table-card, .selected-item {
    margin: 0 2rem 2rem 0;
    background: $white;
    border-radius: $border-radius;
  }

  .selected-item {
    display: flex;
    justify-content: center;
    min-height: 25rem;

    .no-item {
      align-self: center;
    }
  }
}
