.partial-informations {
  h4 {
    font-size: 1.125rem;
    font-weight: 700;
    margin: 0 0 0.5rem 0;
  }

  .detailed-value {
    font-size: 0.875rem;

    .label {
      font-weight: 650;
    }
  }
}
